.listingForm{
  width: 50%!important;
  min-width: 0px;
  padding: 20px;
  margin: 20px auto;
  box-sizing: border-box;
  justify-content: center;
  max-width: none;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.formRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px;
}
.formRow-ProfileImg{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
}
.imageInput{
  height: 400px;
}

.shortDescription{
  border: 1px var(--gray) solid;
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  height: 70px;
  min-width: none;
  width: 30%;

}

.labelMentorshipTxt{
  margin: 1%;
}

.fullDescription{
  border: 1px var(--gray) solid;
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  height: 100px;
  min-width: none;
  width: 80%;
}
.hourlyRate{
  border: 1px var(--gray) solid;
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;

  min-width: none;

}