.mainContentLoggedIn{
  max-width: 1700px;
  margin: 0 auto;
    width: inherit;
    height: 1200px;
}
.reccomendedMentorSession{
  width: 1350px;
  height: 380px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: auto;
}
.reccomendedMentorSessionPanel{
  height: 90%;
  width: 20%;
  margin: 0.1%;
  border: 1px solid var(--gray);
  padding: 0;
}
.reccomendedMentorSessionPanel:hover{
  cursor: pointer;
}
.reccomendedMentorText{
  margin-bottom: 45px;
  text-align: center;
  margin-top: 10px;
  font-size: 27px;
  font-family: Trueno;
  color: var(--text);
}
.reccomendedMentorSessionPanel-topSection{
height: 50%;
border-bottom: 1px solid var(--gray);
}
.reccomendedMentorSessionPanel-bottomSection{
  height: 45%;
  margin: 0 3%;
}
.reccomendedMentorSessionPanel-img{
  height: 100%;
  width: 100%;
}
.reccomendedMentorSessionPanel-creatorImg{
  height: 38px;
  border-radius: 50%;
}
.reccomendedMentorSessionPanel-creatorImgContainer{  
  height: 45px;
  text-decoration: none;
  border-radius: 50%;
}
.reccomendedMentorSessionPanel-titleCreatorContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-family: Rubik-Regular;
}
.reccomendedMentorSessionPanel-Description{
  height: initial;
  max-height: 74%;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  border-top: 1px solid var(--gray);

}