:root {
  --textColor: darkblue;
  --BackgroundColor:white;
  --accent: lightblue;
  --black: black;
}
.mentorPageWrapper {
  Margin: 0px;
  padding:0px;
  box-sizing:border-box;
}
.container {
  background:linear-gradient(var(--BackgroundColor));
  font-family:"Raleway",sans-serif;
  height:200vh
}
 .testContainer {
  position:absolute;
  top:90%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.25);
  width:380px;
  padding:0px 30px;
  background:var(--BackgroundColor);
  box-shadow:2px 2px 5px 5px var(--accent);
}
/* .basicInfoForm {
  position:absolute;
  top:-100%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.25);
  width:380px;
  padding:0px 30px;
  background:var(--BackgroundColor);
  box-shadow:2px 2px 5px 5px var(--accent);
}
.experienceForm {
  position:absolute;
  top:-100%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.25);
  width:380px;
  padding:0px 30px;
  background:var(--BackgroundColor);
  box-shadow:2px 2px 5px 5px var(--accent);
}
.payForm {
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.25);
  width:380px;
  padding:0px 30px;
  background:var(--BackgroundColor);
  box-shadow:2px 2px 5px 5px var(--accent);
} 
.basicInfoForm h2,
.experienceForm h2, 
.payForm h2 {
  text-align:center;
  color:black;
  margin:10px 0px 20px;
  font: siize 25px;
}*/
.testContainer h2 {
  text-align:center;
  color:var(--black);
  margin:10px 0px 20px;
  font: siize 25px;
}

/* remember they don't need the upPopup whatever before this now */
.form-element {
  margin:15px 0px;
}
.form-element label {
  font-size:14px;
  color:var(--black)
}
.form-element input[type="text"],
.form-element input[type="password"] {
    margin-top:5px;
    display:block;
    width:100%;
    padding:10px;
    outline:none;
    border:1px solid var(--black);
    border-radius:5px;
    background: var(--accent);
    color: var(--black)
}
input[type="submit"] {
  width:100%;
  height:40px;
  margin-top:10px;
  border:none;
  outline:none;
  font: size 20px;
  background:var(--black);
  color: var(--accent);
  border-radius:10px;
  cursor:pointer;
}