.greetingPanel {
  padding: 0px;
  height: 500px;
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.greetingSearch{
    padding: 25px 25px;
    width: 45%;
    height: 445px;
    margin:0px 25%;
  }
.trustBar{}
.greetingSearchBar{
    height: 10%;
    width: 45%;
  }
  
form.searchForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #c6c7c9;
    border-radius: 15px;
    width: 80%;
  }
.headerWithLogoWords{
    width: 70%;
  }
.greetingPanelImg{
  height: 70%;
  padding-top: 90px;
}
.greetingPanelSideTextBox{
  width: 25%;
  margin-left: 50px;
  color: #272b3e;
  align-items: center;
  justify-self: center;
}

.h1-greetingPanel{
  color: #2d2f41;
  font-size: 50px;
  font-weight: bold;
  margin-top: 15%;
}
.h2-greetingPanel{
  color: var(--blue);
  font-weight: 400;
  font-size: 22px;

}
.getStartedButton{
  font-family: Trueno;
  margin: 10% 0px;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background-color: #f7941d;
  font-size: 22px;
  border: 0px;
  font-weight: 100;
}
.getStartedButton:hover{
  filter: brightness(120%);
}
