.greetingPanel {
  border: 5px solid rgb(0, 0, 0);
  padding: 0px;
  height: 25%
  }
  .greetingSearch{
    border: 5px solid green;
    padding: 25px 25px;
    width: 45%;
    height: 445px;
    margin:0px 25%;
  }
  .trustBar{}
  .greetingSearchBar{
    height: 10%;
    width: 45%;
  }
  
  form.searchForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  .headerWithLogoWords{
    width: 70%;
  }