.popularServices {
  max-width: 1600px;
  margin: 0 auto;
  width: inherit;
  height: auto;
}
.serviceMathImg:hover {
  filter: brightness(120%);
}
.popularServiceText {
  margin: 0 auto;
  font-family: Rubik-Regular;
  color: var(--text);
  font-size: 35px;
  font-weight: bold;
}
.reccomendedCategories {
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.mobileRow{width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  display: none;}
.reccomendedCategoriesPanelSD,
.reccomendedCategoriesPanelLD,
.reccomendedCategoriesPanelMobile {
  height: 85%;
  width: 15%;
  margin: 40px 1%;
  position: relative;
  text-align: center;
  color: white;
}
.popularCategoriesImgWebsiteDesign {
  object-position: 80% 50%;
  max-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  object-fit: cover;
  border: 0.1px solid var(--gray);
}
.popularCategoriesImgLanguage {
  object-position: 4% 50%;
  max-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  object-fit: cover;
  border: 0.1px solid var(--gray);
}
.popularCategoriesImgOnlineBusiness {
  object-position: 50% 50%;
  max-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  object-fit: cover;
  border: 0.1px solid var(--gray);
}
.popularCategoriesImgIllustrations {
  object-position: 34.2% 50%;
  max-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  object-fit: cover;
  border: 0.1px solid var(--gray);
}
.popularCategoriesImg {
  max-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  object-fit: cover;
  border: 0.1px solid var(--gray);
  object-position: 100% 0;
}

.innerTextPopularCategories {
  color: var(--text);
  text-decoration: none;
  font-family: Rubik-Regular;
  font-size: 20px;
  font-weight: 600;

}

.popularCategoriesImg:hover,
.popularCategoriesImgIllustrations:hover,
.popularCategoriesImgLanguage:hover,
.popularCategoriesImgOnlineBusiness:hover,
.popularCategoriesImgWebsiteDesign:hover {
  filter: brightness(110%);
  border: 0.1px solid var(--blue);
}
@media only screen and (max-width: 1400px) {
  .reccomendedCategoriesPanelLD {
    display: none;
  }
  .popularServices {
    padding-top: 45px;
  }
  .reccomendedCategoriesPanelSD, .reccomendedCategoriesPanelMobile {
    height: 75%;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .reccomendedCategoriesPanelSD{
    display: none;
  }
  .reccomendedCategoriesPanelMobile {
    height: 50%;
    width: 45%;
  }
  .mobileRow{
    display: flex;
    margin: 
  }
  .popularCategoriesImgIllustrationsMobile{  
    object-position: 33.5% 50%;
    max-width: 100%;
    min-height: 100%;
    border-radius: 5px;
    object-fit: cover;
    border: 0.1px solid var(--gray);}
}