.signUpContainer{
  content: "";
  clear: both;
  display: table;
  padding-top: 45px ;
  margin:  auto;
}
.topBar-SignIn-UpPage{
  height: 105px;
  padding: 0px;
  max-width: 1700px;
  margin: 0 auto;
  font-family: Rubik-Regular;
  color: var(--text);
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid var(--gray);
}
.logoSignIn-UpPage{
  height: 70px;
  padding: 0.8%;
  margin: auto!important;
}
.signUpText{
text-align: center;
font-family: Rubik-Regular;
color: var(--text);
}
.userInputSignUpContainer{
  display: table;
  width:20em;
  margin-top:15px;

}
.userInputSignUp{
  height: 45px;
  width: 30em;
  margin: auto;
  font-size: 16.5px;
  border-radius: 6px;
  border: 1px solid var(--gray);
  padding: 2px;
}
.userInputSignUp:hover{
  border: 1px solid var(--text);
}
.userInputSignUp-checkBox{
  margin: 2%;
}
.signUpContinueContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUpContinue{
  font-family: Rubik-Regular;
  padding: 11px 50px;
  cursor: pointer;
  border-radius: 15px!important;
  color: rgb(255, 255, 255);
  background-color: var(--orange)!important;
  font-size: 16px;
  border: 1px;
  font-weight: 100;
  color: white!important;
}
.bottomTexth1Container{
  height: 50px;
  display: grid;
  place-items: left;

}
.bottomTexth1{
  margin: 1% 0px!important;
  list-style: none;
}
a.bottomTexth1-clickHere{
  margin-left: 1.9px;
  text-decoration: underline !important;
  color: var(--blue);
}
a.bottomTexth1-clickHere:visited{
  color: purple
}
.invalidMessage{
  color: red;
}
.invalidMessageContainer{
  display: grid;
  place-items: center;
  margin-top: 10px;
}
@media only screen 
and (max-width : 1024px) {
  .signUpContinueContainer{
    margin: 5px 6.2em;
    width: 40%;
    padding-right: 20px;

  }
  .signUpContinue{
    content: "";
    clear: both;
    display: table;
    border: 5px solid;
    margin: 0;
 

  }
  .logoSignIn-UpPage{
    height: 55px;
    margin: auto 0;

  }
  .userInputSignUp{
    height: 45px;
    width: 80%;
    margin: auto;
    font-size: 16.5px;
    border-radius: 6px;
    border: 1px solid var(--gray);
    padding: 2px;
  }
  .signUpContainer{
    content: "";
    clear: both;
    display: table;
    margin:  auto;
    padding-top: 0;
  }
  .userInputSignUpContainer{
    width:100%;
    margin: 7px 7%;
  
  }
  .bottomTexth1{
    margin: 4% 0px!important;
    list-style: none;
    text-align: center;
  }
  .topBar-SignIn-UpPage{
  max-width: none;
  width: 100%;
}
}