.topBar {
  height: 2000px;
  border: 5px solid blue;
  padding: 0px;
}
.topPanel {
  height: 100px;
  border: 5px solid rebeccapurple;
  padding: 0px;
  display: flex;
  justify-content: space-between;

}
.logo {
  height: 90px;
  padding: 0.5%;
  width: 90px;
}
.logoImg{
  height: inherit;
  width: auto;
 
}
.topOptions{
  height: 90px;
  border: 5px solid rgb(0, 255, 98);
  padding: 0px;
  min-width: 70%;
  display: flex;
  justify-content: space-between;
}

.displayLd , .displayMd, .displaySd {
  display: block;
  text-align: center;
  border: 5px solid blue;
  margin: auto;
  text-decoration: none;
  max-height: 80%;
  min-height: 80%;
  min-width: 15%;
  max-width: inherit;


}
.displayLd , .displayMd, .displaySd:hover{
  filter: brightness(120%);
}
.signIn{
  margin: 13% 0px;
  padding: 7px 25px;
  display: inline-block;
  border: 2px solid rgb(0, 128, 0);
  cursor: pointer;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  background-color: green;
  font-size: larger;
}
