.bottomBar{
  height: 300px;
  width: inherit;
  
  border-top: 1px solid var(--gray);
}
.bottomBarFlexContainer{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8%;
}
.bottomBarContentContainer{
  margin-top: 50px;
  list-style: none;
}
.socialMediaContainer{
  display: flex;
  list-style: none;
  justify-content: center;
}
.socialMediaButtons{
  height: 45px;
  margin: 0.4%;

}
.socialMediaButtons:hover{
  cursor: pointer;
  filter: brightness(110%);
}
.socialMediaButtonImg{
  height: 100%;
  
}

.followUsText{
  font-family: Rubik-Regular;
  font-size: 22px;
  margin-bottom: 15px;
}
.bottomBarContentLinks{
  cursor: pointer;
}