:root{
  --blue:#0b5383;
  --gray:#c6c7c9;
  --text:#535457;
}

html {
  margin-right: 0!important;
  min-width: 0px;
  height: auto;
  font-family: Rubik-Regular;
  
}
body {
  margin: 0;
}
@font-face {
  font-family: Rubik-Regular;
  src: url(Fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: Trueno;
  src: url(Fonts/Trueno-wml2.otf);
}
.mainWrapper {
  width: 100%;
  min-width: 0px;
  padding: 20px;
  margin: auto auto;
  height:100%;
  min-height:100vh;
  box-sizing: border-box;
  padding: 0px;
  justify-content: center;
}

a:link{
  text-decoration: none!important;
  color: var(--text);
  
}
a:visited{color: var(--text);}